[user]
	name = Zhigang
	email = zgliu2@gmail.com

[core]
	autocrlf = false
	eol = lf
	excludesfile = ~/.config/git/ignore
	editor = nvim
	symlinks = true

[init]
	defaultBranch = master

[alias]
	st = status
	co = checkout
	br = branch
	ci = commit
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	unstage = reset HEAD --
	last = log -1 HEAD
	amend = commit --amend --no-edit

[pull]
	rebase = false

[push]
	autoSetupRemote = true

[fetch]
	prune = true

[rebase]
	autoStash = true

[merge]
	tool = vimdiff
	conflictstyle = zdiff3

[mergetool]
	prompt = true

[mergetool "vimdiff"]
	layout = "LOCAL,MERGED,REMOTE"

[help]
	autocorrect = 1
