[core]
	autocrlf = false
	eol = lf
	excludesfile = ~/.config/git/ignore
	editor = nvim
	symlinks = true
	longpaths = true
	pager = sh -c 'command -v delta >/dev/null && delta || less'

[interactive]
	diffFilter = sh -c 'command -v delta >/dev/null && delta --color-only || cat'

[init]
	defaultBranch = master

[alias]
	st = status
	co = checkout
	br = branch
	ci = commit
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %C(cyan)%cd %Cgreen(%cr)%Creset %C(bold blue)<%an>%Creset' --abbrev-commit --date=format:'%Y-%m-%d %H:%M'
	unstage = reset HEAD --
	last = log -1 HEAD
	amend = commit --amend --no-edit
	d = diff
	dt = difftool
	mt = mergetool
	lo = log --pretty=format:'%C(yellow)%h %C(cyan)%ad %Creset%s' --date=short
	du = diff @{u}
	stat = show --stat --oneline
	ba = branch -a
	undo = reset --soft HEAD~1

[rerere]
	enabled = true
	autoupdate = true

[column]
	ui = auto

[branch]
	sort = -committerdate

[diff]
	algorithm = histogram
	colorMoved = default

[delta]
	navigate = true
	side-by-side = true
	line-numbers = true

[pull]
	rebase = false

[push]
	autoSetupRemote = true

[fetch]
	prune = true

[rebase]
	autoStash = true

[merge]
	tool = vimdiff
	conflictstyle = zdiff3

[mergetool]
	prompt = false

[difftool]
	prompt = false
	tool = vimdiff

[mergetool "vimdiff"]
	layout = "(LOCAL,BASE,REMOTE)/MERGED"

[help]
	autocorrect = 1

[commit]
	template = ~/.gitmessage

[include]
	path = ~/.gitconfig.local
